body{
	font-family: Helvetica, sans-serif;
	width: 935px;	
	margin-left: 50%;
	transform: translateX(-50%);
}
main{
	background-color: rgb(249, 249, 249);
}
header{
	margin: 1vh;
}

.profile-photo img{
	max-width: 100%;
	margin left: 3vh;
	border-radius: 50%;
	margin: 3vh;	
	padding: 3px;
	border: solid lightgray 3px;
}

.profile-content{
	display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
	margin: 2vh;
}

.profile-info h1{
	font-size: 2rem;
	margin: 2vh 1vh;
	font-weight: bold;
}

.profile-info{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-info p, h2, a{
	margin: 6px;
}
.profile-data{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 1vh;
}

.profile-data p span{
	font-weight: bold;
}

.highlighted-stories ul{
	display: flex;
	flex-direction: row;
}

.highlighted-stories ul li{
	text-align: center;
	margin: 2vh;
}

.highlighted-stories ul li img{
	width: 77px;
	height: 77px;
	border-radius: 50%;
	padding: 3px;
	border: solid lightgray 3px;
}

.profile-posts nav{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border-top: solid lightgray 1px;
}

.profile-posts ul{
	display: flex;
	flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.profile-posts ul li img{
	width: 100%;
	margin: auto;
}
.profile-posts ul li{
	margin: 1vh;
	width: 293px;
	height: 293px;
}

footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 3vh;
}

.footer-nav a{
	margin:1vw;
}

@media only screen and (min-width: 769px){
	.profile-content{
		flex-direction: row;
	}
	.profile-posts ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		align-content: center;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	.profile-info{
		margin-left: 3vw;
	}
}